<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/mybatis-3-mapper.dtd">
<!--配置映射的接口-->
<mapper namespace="com.bookstore.dao.BookDao">

<!--    配置resultMap解决ORM问题-->
    <resultMap id="bookMap" type="book">
        <id property="bookName" column="book_name"></id>
        <result property="price" column="price"></result>
<!--        <result property="salary" column="salary"></result>-->
<!--        多对一映射-->
<!--        <association property="dep" javaType="dep">-->
<!--            <id property="depId" column="department_id"></id>-->
<!--            <result property="depName" column="department_name"></result>-->
<!--        </association>-->
    </resultMap>
<!--生成一个根据用户名mapper-->

        <select id="getAllBooks" resultType="Book">
            SELECT * FROM books;
        </select>

        <select id="getBookById" resultType="Book" parameterType="int">
            SELECT * FROM books WHERE id = #{id};
        </select>

<!--    根据主键查询  做一对多关联映射-->
<!--    <select id="findById" resultMap="empMap">-->
<!--        select employee_id,first_name,salary,dep.department_id,department_name from-->
<!--        emp inner join dep on emp.department_id=dep.department_id where employee_id=#{empId}-->
<!--    </select>-->

<!--    根据部门编号查询-->
<!--    <select id="findByDepId" resultMap="empMap2">-->
<!--        select * from emp where department_id=#{depId}-->
<!--    </select>-->

<!--    根据用户名和密码获取用户-->
<!--    <select id="findByNameAndPassword" resultMap="userMap">-->
<!--        select * from user where username=#{username} and password=#{password}-->
<!--    </select>-->

<!--    根据用户名获取用户-->
<!--    <select id="findByName" resultMap="empMap">-->
<!--        select * from emp where first_name=#{name}-->
<!--    </select>-->

<!--    根据用户名获取用户-->
<!--    <select id="findByName" resultMap="empMap">-->
<!--        select * from emp where first_name=#{name}-->
<!--    </select>-->

<!--    根据用户名获取用户-->
<!--    <select id="findByName" resultMap="empMap">-->
<!--        select * from emp where first_name=#{name}-->
<!--    </select>-->

<!--    根据用户名获取用户-->
<!--    <select id="findByName" resultMap="empMap">-->
<!--        select * from emp where first_name=#{name}-->
<!--    </select>-->

<!--    根据用户名获取用户-->
<!--    <select id="findByName" resultMap="empMap">-->
<!--        select * from emp where first_name=#{name}-->
<!--    </select>-->

<!--    根据用户名获取用户-->
<!--    <select id="findByName" resultMap="empMap">-->
<!--        select * from emp where first_name=#{name}-->
<!--    </select>-->

<!--    根据用户名获取用户-->
<!--    <select id="findByName" resultMap="empMap">-->
<!--        select * from emp where first_name=#{name}-->
<!--    </select>-->

<!--    根据用户名获取用户-->
<!--    <select id="findByName" resultMap="empMap">-->
<!--        select * from emp where first_name=#{name}-->
<!--    </select>-->

<!--    添加用户-->
<!--    <insert id="addEmp" parameterType="emp">-->
<!--        insert into emp(employee_id,first_name,salary,department_id) values(#{empId},#{empName},#{salary},#{depId})-->
<!--    </insert>-->

<!--    删除用户-->
<!--    <delete id="deleteEmp">-->
<!--        delete from emp where employee_id=#{empId}-->
<!--    </delete>-->

<!--    修改薪水-->
<!--    <update id="updateSalary">-->
<!--        update emp set salary=#{salary} where employee_id=#{empId}-->
<!--    </update>-->


</mapper>