<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/mybatis-3-mapper.dtd">
<!--配置映射的接口-->
<mapper namespace="com.bookstore.dao.ShoppingCartDao">

<!--    配置resultMap解决ORM问题-->
    <resultMap id="shoppingCartResultMap" type="com.bookstore.entity.ShoppingCart">
        <id property="id" column="id"></id>
        <result property="userId" column="user_id"></result>
        <result property="bookId" column="book_id"></result>
        <result property="num" column="num"></result>
<!--        <result property="salary" column="salary"></result>-->
<!--        多对一映射-->
<!--        <association property="dep" javaType="dep">-->
<!--            <id property="depId" column="department_id"></id>-->
<!--            <result property="depName" column="department_name"></result>-->
<!--        </association>-->
    </resultMap>
<!--    <parameterMap id="shoppingCartBaseParameterMap" type="shoppingCart">-->
<!--        <parameter property=""-->
<!--    </parameterMap>-->


    <select id="findItemByUIDAndBID" resultMap="shoppingCartResultMap">
        SELECT * FROM ShoppingCart WHERE user_id = #{userId} AND book_id = #{bookId};
    </select>

    <select id="findItemByID" resultMap="shoppingCartResultMap">
        SELECT * FROM ShoppingCart WHERE id = #{id};
    </select>

    <select id="findItemByUID" resultMap="shoppingCartResultMap">
        SELECT * FROM ShoppingCart WHERE user_id = #{uid};
    </select>

    <insert id="addItemIntoShoppingCart" parameterType="com.bookstore.entity.ShoppingCart">
        INSERT INTO ShoppingCart (user_id, book_id, num)
        VALUES (#{ShoppingCart.userId}, #{ShoppingCart.bookId}, #{ShoppingCart.num});
    </insert>

    <delete id="removeItemFromShoppingCart" parameterType="com.bookstore.entity.ShoppingCart">
        DELETE FROM shoppingCart WHERE id = #{ShoppingCart.id};
    </delete>

    <delete id="clearCart" parameterType="com.bookstore.entity.ShoppingCart">
        DELETE FROM shoppingCart WHERE user_id = #{ShoppingCart.userId};
    </delete>

    <update id="updateCartItem" parameterType="com.bookstore.entity.ShoppingCart">
        UPDATE shoppingCart SET num = #{ShoppingCart.num} WHERE id = #{ShoppingCart.id};
    </update>



<!--    <resultMap id="empMap2" type="emp">-->
<!--        <id property="empId" column="employee_id"></id>-->
<!--        <result property="empName" column="first_name"></result>-->
<!--        <result property="salary" column="salary"></result>-->
<!--        <result property="depId" column="department_id"></result>-->
<!--    </resultMap>-->

<!--    根据主键查询  做一对多关联映射-->
<!--    <select id="findById" resultMap="empMap">-->
<!--        select employee_id,first_name,salary,dep.department_id,department_name from-->
<!--        emp inner join dep on emp.department_id=dep.department_id where employee_id=#{empId}-->
<!--    </select>-->

<!--    根据部门编号查询-->
<!--    <select id="findByDepId" resultMap="empMap2">-->
<!--        select * from emp where department_id=#{depId}-->
<!--    </select>-->

<!--    修改薪水-->
<!--    <update id="updateSalary">-->
<!--        update emp set salary=#{salary} where employee_id=#{empId}-->
<!--    </update>-->


</mapper>